@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Caveat&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Amatic+SC&family=Caveat&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Amatic+SC&family=Caveat&family=Cinzel&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bad+Script&family=Caveat&family=Righteous&display=swap');




/*################################################# NAVBAR #############################################################*/

nav{
      z-index: 2;
}

.nav-col{
  background-color: rgba(100, 100, 100, 0.5);
}

nav a.nav-link{
      font-weight: 500;
      letter-spacing: 0.6px;
      cursor: pointer;
      font-family: "Mate SC" sans-serif ;
      font-size: 16px;
}


nav ul li{
  text-transform: uppercase;

}
.navbar-nav > li > a{
  color: rgb(247, 247, 247) !important;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 0.1875rem solid rgba(255,255,255,0) ;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid rgb(255, 255, 255);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid rgb(255, 255, 255);
}


/*################################################# HEADER #############################################################*/

.header-wraper{
  position: relative;
  background: url("/home/ga1ileo/Desktop/Portfolio/portfolio/src/components/assets/background-header.jpg") no-repeat; 
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  z-index: 1;
}

.main-info h1{
  text-transform: uppercase;
}

.tsparticles-canvas-el{
  position:absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
/*######################################## FOOTER ######################################*/
.footer{
  position: absolute;
  width: 100%;  
  height: 20%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}
.footer i{
  color: black;
  padding-right: 4px;
  padding-left:4px;
}
.footer hr{
  background-color: rgb(117, 104, 104);
  width:75%
}
.footer button{
  border:none;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 20px;
  width:120px;
  height: 40px;
  outline-offset: 4px;
}
.footer button:hover{
  background-color: rgb(255, 217, 0);
  color: black;
}
.fa fa-github-square{
  color: black;
}

/*###################################################### PROJECTS ##################################*/
.cont{
  padding: 50px 200px 200px 200px;
  background: #000000;
  border:none;
  height: 40%;
  width:100%;
  text-align: center;
  justify-content: center;
  color: aliceblue;
}
.cont h1{
  float: left;
}
.contin{
  background-color: #000000;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Cinzel', serif;

}

/*############################################ ABOUT ####################################################*/

.about{
 padding-left: 30px;
 padding-top: 20px;
 font-family: 'Cinzel', serif;
 color: rgb(0, 0, 0);
 background-color: rgb(255, 255, 255);
 height: 920px;
}



.abt-cont{
  margin-right: 200px;
  border: 10px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px 10px rgb(58, 55, 55);
  color: rgb(255, 255, 255);
  background-color: black;
  margin-bottom: 50px;
  font-family: 'Righteous', cursive;
  font-size: large;
  width: 30%;
  float:right;
  font-family: 'Bad Script', cursive;
  font-size: x-large;
  
}

