@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
  background-color: rgb(0, 0, 0);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*################################################# NAVBAR #############################################################*/

nav{
      z-index: 2;
}

nav a.nav-link{
      font-weight: 500;
      letter-spacing: 0.6px;
      cursor: pointer;
      font-family: "Mate SC" sans-serif ;
      font-size: 16px;
}


nav ul li{
  text-transform: uppercase;

}
.navbar-nav > li > a{
  color: rgb(247, 247, 247) !important;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 0.1875rem solid rgba(255,255,255,0) ;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid rgb(255, 255, 255);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid rgb(255, 255, 255);
}


/*################################################# HEADER #############################################################*/

.header-wraper{
  position: relative;
  background: url("/home/ga1ileo/Desktop/Portfolio/portfolio/src/components/assets/background-header.jpg") no-repeat; 
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  z-index: 1;
}

.main-info h1{
  text-transform: uppercase;
}

.tsparticles-canvas-el{
  position:absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.footer{
  position: absolute;
  width: 100%;  
  height: 30%;
  background-color: rgb(102, 94, 94);
  color: rgb(24, 231, 214);
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.cont{
  padding: 300px 300px 300px 300px;
  background: black;
  border:none;
  text-align: center;
  justify-content: center;
  color: aliceblue;
}